<div class="container">
  <h2>Cadastradas</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id vaga</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Dispositivo respons&aacute;vel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.latitude}}</td>
        <td>{{user.longitude}}</td>
        <td>{{user.idDispositivo}}</td>
      </tr>
    </tbody>
  </table>
</div>
